{% extends "sms_app/main.html" %}

{% block title %}Delete {{ entry_name.capitalize }}{% endblock %}

{% block content %}
<!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Are you want to delete this item ?
            <input style="transition-duration: 0.4s; background-color: #000000; :hover:background-color: #4CAF50;color: white;" type="submit" value="Yes" />
            <a href="http://127.0.0.1:8000/sms/view/{{entry_name}}/{{entry_id}}">Cancel </a>
        </form>
{% endblock %}
