<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SMS{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #ccc;
      box-shadow: 0 0 15px -5px #000;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      color: #000;
      display: block;
      transition: 0.3s;
    }
    .sidenav a:hover {
      border-top: 1px solid #cfcfcf;
      border-bottom: 1px solid #cfcfcf;
    }
</style>
</head>
<body>
    <p><a href="{% url 'logout' %}?next=/auth/login">Logout</a></p>
    <span style="font-size:20px;cursor:pointer" onclick="openNav(event)" class="burger-menu">&#9776;</span>
    <div id="mySidenav" class="sidenav">
        <div id="menu-nav">
        <div class="logo-nav-mn">Tour-Guide</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav(event)">&times;</a>
            {% for name, link in content.items %}
                <a href="/sms/view/{{link}}/">{{name}}</a>
            {% endfor %}
        </div>
    </div>
    <div id="content" style="width:1200px; margin:0 auto;">
        {% block content %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function redirect_to_update()   {
            window.location.href = "http://127.0.0.1:8000/sms/change/{{entry_name}}/{{entry_id}}";
        }

        function redirect_to_delete()   {
            window.location.href = "http://127.0.0.1:8000/sms/delete/{{entry_name}}/{{entry_id}}";
        }

    jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });

    function openNav(event) {
    console.log(event);
    let nav = document.getElementById("mySidenav");
    console.log(nav);
       nav.style.display = "flex";
      nav.style.width = "200px";
      }

      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }

        function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("table");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
</script>
</body>
</html>