<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ entry_name.capitalize }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <a href="{% url 'logout' %}?next=/auth/login">Logout</a>
        <table class="table">
            <tr>
            {% for name in customer_field_names %}
                <th>{{ name }}</th>
            {% endfor %}
            </tr>
        {% for entry in entry_set %}
            <tr class='clickable-row' data-href='{{ entry.pk }}'>
            {% for field in entry.retrieve_field_values %}
                <td>{{ field }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
    </body>
</html>